@{
    User author = ViewBag.Author;
    ListViewModel listViewModel = ViewBag.ListViewModel;
    bool subscribed = ViewBag.Subscribed;
}

@if (listViewModel.Current is 1)
{
    <div class="uk-container uk-margin-bottom">
        <div uk-grid class="uk-grid-medium">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div class="uk-flex-middle author-info" uk-grid>
                        <div class="uk-width-auto">
                            <avatar classes="uk-border-circle" user="author" px="170" />
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-text-secondary uk-margin-remove-bottom">@author.Username</h3>
                            @if (author.FullName is not null)
                            {
                                <p>// @author.FullName</p>
                            }
                            <p>With us from @author.DateOfRegistration.ToString("D", new CultureInfo("en"))</p>
                            @if (author.City is not null)
                            {
                                <p>@author.City</p>
                            }
                            <p class="blog-author-articles-number">
                                <b>@listViewModel.Articles.Count</b>
                                @{ 
                                    string articles = "articles";
                                    if ((author.Articles.Count is 1))
                                        articles = "article";
                                }
                                <span>@articles</span>
                            </p>
                            <p class="author-subscribers">
                                <b id="subscribersNumber">@(author.Subscribers?.Count ?? 0)</b>
                                @{
                                    string subscribers = "subscribers";
                                    if ((author.Subscribers?.Count ?? 0) is 1)
                                        subscribers = "subscriber";
                                }
                                <span class="author-subscribers-word">@subscribers</span>
                            </p>

                            @if (!author.Username.Equals(User.Identity.Name))
                            {
                                @if (subscribed)
                                {
                                    <button id="subscribeButton" onclick="unsubscribe()" class="uk-button" style="margin-top: 10px;">Subscribed</button>
                                }
                                else if (User.Identity.IsAuthenticated)
                                {
                                    <button id="subscribeButton" onclick="subscribe()" class="uk-button uk-button-secondary" style="margin-top: 10px;">+ Subscribe</button>
                                }
                            }
                        </div>
                    </div>

                    @if (author.Description is not null)
                    {
                        <div class="user-description">
                            <p>@author.Description</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (listViewModel.Articles.Any())
{
    await Html.RenderPartialAsync("~/Views/Articles/Lists.cshtml", listViewModel);

    @section Scripts {
        <script src="~/js/list/articlesLayout.js"></script>
    }
}
else
{
    ServerMessage serverMessage = new()
    {
        ShowSmile = true,
        MessageText = $"{author.Username} has no articles"
    };
    await Html.RenderPartialAsync("~/Views/Shared/_MessagePartial.cshtml", serverMessage);
}

@section Hubs {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @if (User.Identity.IsAuthenticated && !author.Username.Equals(User.Identity.Name))
    {
        <script src="~/js/subscription/subscribe.js"></script>
    }
    else
    {
        <script src="~/js/subscription/subscriptionInfo.js"></script>
    }
}
