@model DiscussionViewModel

@{ 
    ViewBag.Page = "Discussion";
}

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>

            @await Html.PartialAsync("_OptionsMenuPartial")

            <div>
                <form asp-action="discussion" asp-controller="options" method="post" class="uk-form-horizontal uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Discussion</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label">Sorting comments</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" asp-for="CommentsOptions.SortingCommentsDefaultType" asp-items="Html.GetEnumSelectList<SortingComments>()"></select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Displaying comments</label>
                            <div class="uk-form-controls">
                                <input asp-for="CommentsOptions.AllowNesting" type="checkbox" class="uk-checkbox">
                                <label asp-for="CommentsOptions.AllowNesting"></label>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Depth of nested comments:</label>
                            <div class="uk-form-controls">
                                @Html.DropDownListFor(d => d.CommentsOptions.Depth.Value,
                                    new SelectList(Model.CommentsOptions.Depth.Available),
                                    new { @class = "uk-select" })
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can write comments</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.DiscussionRoles.Count; i++)
                                {
                                    <input asp-for="DiscussionRoles[i].WriteComments" type="checkbox" class="uk-checkbox">
                                    <label>@Model.DiscussionRoles[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can moderate comments</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.DiscussionRoles.Count; i++)
                                {
                                    if (Model.DiscussionRoles[i].Discriminator.Equals("Role"))
                                        continue;

                                    <input asp-for="DiscussionRoles[i].ModerateComments" type="checkbox" class="uk-checkbox">
                                    <label>@Model.DiscussionRoles[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        @for (int i = 0; i < Model.DiscussionRoles.Count; i++)
                        {
                            <input type="hidden" asp-for="DiscussionRoles[i].Type" value="@((int)Model.DiscussionRoles[i].Type)">
                            <input type="hidden" asp-for="DiscussionRoles[i].Discriminator" value="@Model.DiscussionRoles[i].Discriminator">
                        }

                        <button type="submit" class="uk-button uk-button-secondary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
