@model MainViewModel

@functions {
    async Task GetLanguageOptionsAsync()
    {
        foreach (var language in Enum.GetValues(typeof(Languages)))
        {
            string languageToString = language switch
            {
                Languages.BasedOnUserCulture => "Based on user's culture",
                Languages.Russian => "Русский",
                _ => "English",
            };
            <input type="radio" asp-for="@Model.Language" value="@((int)language)" checked="@((int)language == (int)Model.Language)" class="usual-radiobutton">
            @languageToString
        }
    }
}

<div class="blog-container">
    <div class="page-container text-alegreya-style">
        <div class="blog-content">
            <div class="options-container">

                @await Html.PartialAsync("_OptionsMenuPartial")

                <div id="optionsContent" class="options-content">

                    <form method="post" asp-action="Main" asp-controller="Options" enctype="multipart/form-data" class="usual-form">

                        <fieldset>
                            <legend>Main</legend>
                            <label class="usual-label" asp-for="@Model.Title"></label>
                            <input type="text" class="usual-input usual-input-text" asp-for="@Model.Title">
                            <span class="text-sans-style" asp-validation-for="@Model.Title"></span>

                            <label class="usual-label" asp-for="@Model.Subtitle"></label>
                            <input type="text" class="usual-input usual-input-text" asp-for="@Model.Subtitle">
                        </fieldset>

                        <fieldset>
                            <legend>Icon</legend>
                            <img src="@Url.Content(Model.IconPath)" height="100px" width="100px" alt="icon" />
                            <input type="file" accept=".jpg,.jpeg,.png,.ico image/jpeg,image/png,image/x-icon" asp-for="@Model.IconFile">
                            <span class="text-sans-style" asp-validation-for="@Model.IconFile"></span>
                        </fieldset>

                        <fieldset>
                            <legend>Standard user's avatar</legend>
                            <img src="@Url.Content(Model.AvatarPath)" height="100px" width="100px" alt="icon" />
                            <input type="file" accept=".jpg,.jpeg,.png,.ico image/jpeg,image/png,image/x-icon" asp-for="@Model.AvatarFile">
                            <span class="text-sans-style" asp-validation-for="@Model.AvatarFile"></span>
                        </fieldset>

                        <fieldset>
                            <legend>Language</legend>
                            @{
                                await GetLanguageOptionsAsync();
                            }
                            <span class="text-sans-style" asp-validation-for="@Model.Language"></span>
                        </fieldset>

                        <button type="submit" class="usual-submit-button usual-button">Save</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/options_actions/openList.js"></script>
}