@using System
@using Web.Infrastructure.Extensions

@model ReadingViewModel

<div class="blog-container">
    <div class="page-container text-alegreya-style">
        <div class="blog-content">
            <div class="options-container">

                @await Html.PartialAsync("_OptionsMenuPartial")

                <div id="optionsContent" class="options-content">

                    <form method="post" asp-action="reading" asp-controller="options" class="usual-form">

                        <fieldset>
                            <legend>Show pages:</legend>
                            <p class="options-input-container">
                                <input class="usual-checkbox" asp-for="@Model.WebsiteOptionsPartially.ShowListOfPopularAndRecent">
                                <label class="usual-label checkbox-label" asp-for="@Model.WebsiteOptionsPartially.ShowListOfPopularAndRecent"></label>
                            </p>

                            <p class="options-input-container">
                                <input class="usual-checkbox" asp-for="@Model.WebsiteOptionsPartially.ShowAuthors">
                                <label class="usual-label checkbox-label" asp-for="@Model.WebsiteOptionsPartially.ShowAuthors"></label>
                            </p>

                            <p class="options-input-container">
                                <input class="usual-checkbox" asp-for="@Model.WebsiteOptionsPartially.ShowTopics">
                                <label class="usual-label checkbox-label" asp-for="@Model.WebsiteOptionsPartially.ShowTopics"></label>
                            </p>

                            <p class="options-input-container">
                                <input class="usual-checkbox" asp-for="@Model.WebsiteOptionsPartially.ShowSearchOption">
                                <label class="usual-label checkbox-label" asp-for="@Model.WebsiteOptionsPartially.ShowSearchOption"></label>
                            </p>
                        </fieldset>

                        <fieldset>
                            <legend>Number of articles per page</legend>
                            @Html.DropDownListFor(n => n.ListOptions.ArticlesPerPage.Value,
                               new SelectList(Model.ListOptions.ArticlesPerPage.Available),
                               "")
                        </fieldset>

                        <fieldset>
                            <legend>Articles list displaying type</legend>
                            @foreach (var displayingType in Enum.GetValues(typeof(DisplayType)))
                            {
                                <p class="options-input-container">
                                    <input type="radio" class="usual-radiobutton"
                                           checked="@((int)displayingType == (int)Model.ListOptions.ListDisplayDefaultType)"
                                           value="@((int)displayingType)"
                                           asp-for="@Model.ListOptions.ListDisplayDefaultType">
                                    <label class="usual-label radio-label">@Enums.GetEnumName(displayingType)</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Number of words in preview</legend>
                            <label class="usual-label">
                                @Html.DropDownListFor(n => n.ListOptions.WordsPerPreview.Value,
                                new SelectList(Model.ListOptions.WordsPerPreview.Available),
                                "")
                            </label>
                        </fieldset>

                        <fieldset>
                            <legend>Website's layout type</legend>
                            @foreach (var layoutType in Enum.GetValues(typeof(ListLayoutType)))
                            {
                                <p class="options-input-container">
                                    <input type="radio" class="usual-radiobutton"
                                           checked="@((int)layoutType == (int)Model.ListOptions.LayoutDefaultType)"
                                           value="@((int)layoutType)"
                                           asp-for="@Model.ListOptions.LayoutDefaultType">
                                    <label class="usual-label radio-label">@Enums.GetEnumName(layoutType)</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>List sorting default type</legend>
                            @foreach (var sortingType in Enum.GetValues(typeof(ListSorting)))
                            {
                                <p class="options-input-container">
                                     <input type="radio" class="usual-radiobutton"
                                           checked="@((int)sortingType == (int)Model.ListOptions.ListSortingDefaultType)"
                                           value="@((int)sortingType)"
                                           asp-for="@Model.ListOptions.ListSortingDefaultType">
                                    <label class="usual-label radio-label">@Enums.GetEnumName(sortingType)</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Displaying data in any articles' list</legend>
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Username">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Username"></label>
                            </p>

                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.DateAndTime">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.DateAndTime"></label>
                            </p>

                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Tags">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Tags"></label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Topic">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Topic"></label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Series">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Series"> </label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Likes">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Likes"></label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Bookmarks">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Bookmarks"></label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.Comments">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.Comments"></label>
                            </p>
                            
                            <p class="options-input-container">
                                <input type="checkbox" class="usual-checkbox" asp-for="@Model.ListOptions.OverrideForUserArticle">
                                <label class="usual-label checkbox-label" asp-for="@Model.ListOptions.OverrideForUserArticle"></label>
                            </p>
                        </fieldset>

                        <fieldset>
                            <legend>The visibility of the website</legend>
                            @foreach (Visibility visibility in Enum.GetValues(typeof(Visibility)))
                            {
                                <p class="options-input-container">
                                    <input type="radio" class="usual-radiobutton"
                                           checked="@((int)visibility == (int)Model.WebsiteOptionsPartially.WebsiteVisibility)"
                                           value="@((int)visibility)"
                                           asp-for="@Model.WebsiteOptionsPartially.WebsiteVisibility">
                                    <label class="usual-label radio-label">@Enums.GetEnumName(visibility)</label>
                                </p>
                            }
                        </fieldset>

                        <button type="submit" class="usual-submit-button usual-button">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/options_actions/openList.js"></script>
}