@using System
@using Web.Infrastructure.Extensions

@model ReadingViewModel

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>

            @await Html.PartialAsync("_OptionsMenuPartial")

            <div>
                <form asp-action="reading" asp-controller="options" method="post" class="uk-form-horizontal uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Reading</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label">Show pages:</label>
                            <div class="uk-form-controls">
                                <input asp-for="WebsiteOptionsPartially.ShowListOfPopularAndRecent" type="checkbox" class="uk-checkbox">
                                <label asp-for="WebsiteOptionsPartially.ShowListOfPopularAndRecent"></label>
                                <br>
                                <input asp-for="WebsiteOptionsPartially.ShowAuthors" type="checkbox" class="uk-checkbox">
                                <label asp-for="WebsiteOptionsPartially.ShowAuthors"></label>
                                <br>
                                <input asp-for="WebsiteOptionsPartially.ShowTopics" type="checkbox" class="uk-checkbox">
                                <label asp-for="WebsiteOptionsPartially.ShowTopics"></label>
                                <br>
                                <input asp-for="WebsiteOptionsPartially.ShowSearchOption" type="checkbox" class="uk-checkbox">
                                <label asp-for="WebsiteOptionsPartially.ShowSearchOption"></label>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Number of articles per page</label>
                            <div class="uk-form-controls">
                                @Html.DropDownListFor(n => n.ListOptions.ArticlesPerPage.Value,
                                   new SelectList(Model.ListOptions.ArticlesPerPage.Available),
                                   new { @class = "uk-select" })
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Articles list displaying type</label>
                            <div class="uk-form-controls">
                                @foreach (var displayingType in Enum.GetValues(typeof(DisplayType)))
                                {
                                    <input asp-for="ListOptions.ListDisplayDefaultType"
                                           value="@((int)displayingType)"
                                           checked="@((int)displayingType == (int)Model.ListOptions.ListDisplayDefaultType)"
                                           class="uk-radio" type="radio">
                                    <label>@Enums.GetEnumName(displayingType)</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Number of words in preview</label>
                            <div class="uk-form-controls">
                                @Html.DropDownListFor(n => n.ListOptions.WordsPerPreview.Value,
                                   new SelectList(Model.ListOptions.WordsPerPreview.Available),
                                   new { @class = "uk-select" })
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Website's layout type</label>
                            <div class="uk-form-controls">
                                @foreach (var layoutType in Enum.GetValues(typeof(ListLayoutType)))
                                {
                                    <input asp-for="ListOptions.LayoutDefaultType" value="@((int)layoutType)" checked="@((int)layoutType == (int)Model.ListOptions.LayoutDefaultType)" class="uk-radio" type="radio">
                                    <label>@Enums.GetEnumName(layoutType)</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">List sorting default type</label>
                            <div class="uk-form-controls">
                                @foreach (var sortingType in Enum.GetValues(typeof(ListSorting)))
                                {
                                    <input asp-for="ListOptions.ListSortingDefaultType" value="@((int)sortingType)" checked="@((int)sortingType == (int)Model.ListOptions.ListSortingDefaultType)" class="uk-radio" type="radio">
                                    <label>@Enums.GetEnumName(sortingType)</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Displaying data in any articles' list</label>
                            <div class="uk-form-controls">
                                <input asp-for="ListOptions.Username" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Username"></label>
                                <br>
                                <input asp-for="ListOptions.DateAndTime" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.DateAndTime"></label>
                                <br>
                                <input asp-for="ListOptions.Tags" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Tags"></label>
                                <br>
                                <input asp-for="ListOptions.Topic" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Topic"></label>
                                <br>
                                <input asp-for="ListOptions.Series" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Series"></label>
                                <br>
                                <input asp-for="ListOptions.Likes" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Likes"></label>
                                <br>
                                <input asp-for="ListOptions.Bookmarks" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Bookmarks"></label>
                                <br>
                                <input asp-for="ListOptions.Comments" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.Comments"></label>
                                <br>
                                <input asp-for="ListOptions.OverrideForUserArticle" class="uk-checkbox" type="checkbox">
                                <label asp-for="ListOptions.OverrideForUserArticle"></label>
                            </div>
                        </div>

                        <button type="submit" class="uk-button uk-button-secondary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
