@model List<RoleViewModel>

<div class="blog-container">
    <div class="page-container text-alegreya-style">
        <div class="blog-content">

            <div class="options-container">

                @await Html.PartialAsync("_OptionsMenuPartial")

                <div id="optionsContent" class="options-content">

                    <form method="post" asp-action="Writing" asp-controller="Options" class="usual-form">
                        <fieldset>
                            <legend>Who can write articles</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].WriteArticles">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Who can override own articles</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].OverrideOwnArticle">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Who can create topics</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].CreateTopics">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Who can moderate topics</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].Discriminator.Equals("Role"))
                                    continue;

                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].ModerateTopics">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Who can create articles' tags</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].CreateTags">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        <fieldset>
                            <legend>Who can moderate tags</legend>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                if (Model[i].Discriminator.Equals("Role"))
                                    continue;

                                <p class="options-input-container">
                                    <input type="checkbox" class="usual-radiobutton" asp-for="@Model[i].ModerateTags">
                                    <label class="usual-label checkbox-label">@Model[i].Type</label>
                                </p>
                            }
                        </fieldset>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model[i].Type" value="@((int)Model[i].Type)">
                            <input type="hidden" asp-for="@Model[i].Discriminator" value="@Model[i].Discriminator">
                        }

                        <button type="submit" class="usual-submit-button usual-button">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/options_actions/openList.js"></script>
}