@model List<RoleViewModel>

@{ 
    ViewBag.Page = "Writing";
}

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>

            @await Html.PartialAsync("_OptionsMenuPartial")

            <div>
                <form asp-action="writing" asp-controller="options" method="post" class="uk-form-horizontal uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Writing</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can write articles</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <input asp-for="@Model[i].WriteArticles" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can override own articles</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <input asp-for="@Model[i].OverrideOwnArticle" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can moderate articles</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].Discriminator.Equals("Role"))
                                        continue;

                                    <input asp-for="@Model[i].ModerateArticles" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can create topics</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <input asp-for="@Model[i].CreateTopics" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can moderate topics</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].Discriminator.Equals("Role"))
                                        continue;

                                    <input asp-for="@Model[i].ModerateTopics" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can create articles' tags</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <input asp-for="@Model[i].CreateTags" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Who can moderate tags</label>
                            <div class="uk-form-controls">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].Discriminator.Equals("Role"))
                                        continue;

                                    <input asp-for="@Model[i].ModerateTags" type="checkbox" class="uk-checkbox">
                                    <label>@Model[i].Type</label>
                                    <br>
                                }
                            </div>
                        </div>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model[i].Type" value="@((int)Model[i].Type)">
                            <input type="hidden" asp-for="@Model[i].Discriminator" value="@Model[i].Discriminator">
                        }

                        <button type="submit" class="uk-button uk-button-secondary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
