@model HeaderViewModel

<header class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <h1 class="uk-heading-small">
                        <a class="uk-link-heading uk-link-reset uk-text-middle blog-title" href="@Url.Action("Index", "Home")" style="font-weight: 500;">@Model.Title</a>
                    </h1>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                @if (Model.ShowSearch)
                {
                    <li>
                        <div>
                            <a class="uk-navbar-toggle" href="#" uk-search-icon></a>
                            <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">

                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <form class="uk-search uk-search-navbar uk-width-1-1">
                                            <input class="uk-search-input" type="search" placeholder="Search" autofocus>
                                        </form>
                                    </div>
                                    <div class="uk-width-auto">
                                        <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Account", "Users", new { username = Model.User.Username })" class="uk-text-middle">@Model.User.Username</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.RouteUrl("default", new { controller = "Account", action = "SignIn" })" class="uk-text-middle">Sign in</a>
                    </li>
                }
                <li>
                    <a href="#" uk-icon="more"></a>
                    <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-right">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            @if (Model.ShowSearch)
                            {
                                <li>
                                    <div class="uk-margin">
                                        <form class="uk-search uk-search-default">
                                            <a href="#" uk-search-icon></a>
                                            <input class="uk-search-input" type="search" placeholder="Search">
                                        </form>
                                    </div>
                                </li>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Account", "Users", new { username = Model.User.Username })" class="uk-text">@Model.User.Username</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.RouteUrl("default", new { controller = "Account", action = "SignIn" })" class="uk-text">Sign in</a></li>
                            }
                            <li class="uk-nav-divider"></li>

                            @if (Model.Pages is not null)
                            {
                                foreach (KeyValuePair<string, string> link in Model.Pages)
                                {
                                    <li><a href="@link.Value">@link.Key</a></li>
                                }
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="uk-margin-remove-top uk-margin-bottom">
</header>