@model CommentsViewModel

@{
    async Task GetComment(List<Comment> children, int currentDepth)
    {
        ++currentDepth;
        for (int i = 0; i < children.Count(); i++)
        {
            string commentParentId = string.Empty;
            if (children[i].ParentId is object)
                commentParentId = children[i].ParentId.ToString();

            string parentalClass = string.Empty;

            if(currentDepth > Model.Depth)
            {
                parentalClass = $"parental parental-{Model.Depth}";
            }
            else if(currentDepth > 0)
            {
                parentalClass = $"parental parental-{currentDepth}";
            }

            <div data-comment-id="@children[i].Id.ToString()" data-parent-id="@commentParentId" class="blog-comment @parentalClass">

                <div class="user-info-container">
                    <avatar user="children[i].Author"/>
                </div>

                <div class="text-comment-container clearfix">

                    <div class="blog-comment-meta">
                        @if (children[i].Author is not null)
                        {
                            <a class="comment-username" href="@Url.Action("account", "users", new { username = children[i].Author.Username })">
                                @children[i].Author.Username
                            </a>
                        }
                        else
                        {
                            <a class="comment-username" href="#">
                                <i>deleted</i>
                            </a>
                        }

                        @if (User.Identity.IsAuthenticated && !children[i].IsDeleted)
                        {
                            bool allowEditing = false;
                            if (Model.User.Id.Equals(children[i].AuthorId) && (Model.User.Role?.WriteComments ?? default))
                            {
                                allowEditing = true;
                            }

                            <div class="comment-change">
                                @if (allowEditing)
                                {
                                    <button type="button" onclick="getUpdateCommentForm(this)" class="reply-button">
                                        <img src="/img/ico/rewrite.png" alt="reply">
                                    </button>
                                }

                                @if (allowEditing || ((Model.User.Role as ExtendedRole)?.ModerateComments ?? default))
                                {
                                    <button class="comment-change-delete reply-button" type="button" onclick="deleteActions(this)">
                                        <img src="/img/ico/delete7.png" alt="reply">
                                    </button>
                                }
                            </div>
                        }
                        else
                        {
                            <div></div>
                        }

                        <span class="comment-time-info time-info">

                        </span>
                        <span class="time-info-utc time-info-created">@children[i].DateTime.ToString("O")</span>
                        <span class="time-info-utc time-info-updated">@children[i].UpdatedDateTime?.ToString("O")</span>
                    </div>

                    <div class="comment-container">
                        @{
                            if (children[i].IsDeleted)
                            {
                                <p><i>Deleted</i></p>
                            }
                            else
                            {
                                string[] commentText = children[i].Text.Split(new string[] { "\n", "\r\n" }, StringSplitOptions.RemoveEmptyEntries);
                                foreach (string txt in commentText)
                                {
                                    <p>@txt</p>
                                }
                            }
                        }
                    </div>

                    <div class="comment-actions-container">

                        <div class="hearts">
                            @{ 
                                CommentLikes commentLike = children[i].Likes
                                    .Where(cl => cl.UserId == Model.User?.Id /*&& Model.User.Id != null*/)
                                    .FirstOrDefault();

                                <button type="button" class="heart-button" onclick="likeComment(this)">
                                    @if (commentLike != null)
                                    {
                                        <img src="~/img/buttons/heart red.png" class="comment-action-checked" alt="like">
                                        <img src="~/img/buttons/heart.png" class="comment-action-inactive comment-action-unchecked" alt="like">
                                    }
                                    else
                                    {
                                        <img src="~/img/buttons/heart red.png" class="comment-action-inactive comment-action-checked" alt="like">
                                        <img src="~/img/buttons/heart.png" class="comment-action-unchecked" alt="like">
                                    }
                                </button>
                            }
                            
                            <span name="commentLikesNumber" class="hearts-counter text-sans-style comment-hearts-count">@children[i].Likes.Count</span>
                        </div>

                        @if (Model.WriteComments)
                        {
                            <div class="comment-reply">
                                <button type="button" onclick="getReplyCommentForm(this)" class="reply-button">
                                    <img src="/img/buttons/next.png" alt="reply">
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @if (children[i].Children.Any())
            {
                await GetComment(children[i].Children, currentDepth);
            }

        }
        --currentDepth;
    }
}

<section class="article-comments text-sans-style">

    <div class="article-comments">

        <div class="comment-appeal text-alegreya-style">
            @if (!Model.CommentsVisibility)
            {
                <h3>Comments are hidden by author</h3>
            }
            else if (!User.Identity.IsAuthenticated)
            {
                <h3><a href="@Url.Action("signin", "account")">Sign In</a> to leave a comment</h3>
            }
            else /*if (User.Identity.IsAuthenticated && Model.CurrentUser.Role.WriteComments)*/
            {
                <h3>Comment</h3>
            }
        </div>

        @if (User.Identity.IsAuthenticated && Model.User.Role.WriteComments)
        {
            <div class="root-comment-answer comment-answer">

                <div class="user-info-container">
                    <avatar user="Model.User"/>
                </div>

                <form class="root-answer-form comment-form">
                    <div>
                        @{
                            CommentViewModel commentViewModel = new CommentViewModel();
                        }
                        <textarea placeholder="Add comment..." class="comment-input comment-input-textarea" asp-for="@commentViewModel.Text"></textarea>
                        <span class="text-sans-style" asp-validation-for="@commentViewModel.Text"></span>
                    </div>

                    <button type="button" onclick="sendComment(this)" class="usual-submit-button comment-button">Add comment</button>
                </form>

            </div>
        }
    </div>

    <div class="blog-comments text-alegreya-style">

        <a name="commentsAnch"></a>

        @{
            if (!Model.Comments.Any())
            {
                <h4 id="noCommentsMessage">Leave a comment first!</h4>
            }
            else
            {
                <h3 id="commentsAreExistMessage">Comments</h3>
            }
            <div data-comments-depth="@Model.Depth"
                 class="article-comments-collection">
                @if (Model.Comments.Any())
                {
                    List<Comment> rootComments = (from comment in Model.Comments
                                                  where comment.ParentId == null
                                                  orderby comment.DateTime.Ticks
                                                  select comment).ToList();
                    await GetComment(rootComments, -1);
                }
            </div>
        }
    </div>

</section>