@inject IOptionsSnapshot<ListOptions> listOptions

@model ListViewModel

@{
    ListLayoutType layoutType = listOptions.Value.LayoutDefaultType;

    string GetUrl(ListSorting sortingType)
    {
        string action = Model.PageName;
        string controller = action.Equals("Account", StringComparison.OrdinalIgnoreCase) ? "users" : "articles";
        return Url.Action(action, controller, new { page = Model.Current, sortby = Enum.GetName(typeof(ListSorting), sortingType).ToLower() });
    }
}

<div class="articles-menu-container text-roboto-style">

    <div class="display-parameters">
        <div class="drop-menu">
            <button onclick="sortArticlesList()" class="drop-button text-alegreya-style">
                <img class="sort-list-filter" src="~/img/ico/filter.png" alt="filter by Chameleon Design from the Noun Project">
                <h5>@Enums.GetEnumName(Model.ListSorting)</h5>
            </button>
            <div id="sortListDropdown" class="display-sort-menu-content">
                <a href="@GetUrl(ListSorting.MostLiked)" class="sort-list-item">@Enums.GetEnumName(ListSorting.MostLiked)</a>
                <a href="@GetUrl(ListSorting.NewFirst)" class="sort-list-item">@Enums.GetEnumName(ListSorting.NewFirst)</a>
                <a href="@GetUrl(ListSorting.OldFirst)" class="sort-list-item">@Enums.GetEnumName(ListSorting.OldFirst)</a>
                <a href="@GetUrl(ListSorting.Alphabetically)" class="sort-list-item">@Enums.GetEnumName(ListSorting.Alphabetically)</a>
                <a href="@GetUrl(ListSorting.AlphabeticallyDescending)" class="sort-list-item">@Enums.GetEnumName(ListSorting.AlphabeticallyDescending)</a>
            </div>
        </div>

        <div class="display-character" data-btn-active="@layoutType">
            <button id="RowsArticlesLayout" onclick="articlesLayoutVisibility(this)"><img src="~/img/ico/rows.png" alt=""></button>
            <button id="GridArticlesLayout" onclick="articlesLayoutVisibility(this)"><img src="~/img/ico/grid_nonactive.png" alt=""></button>
        </div>
    </div>

</div>
