@using Domain.Entities
@using Microsoft.Extensions.Options;
@using Web.Configuration;

@inject IOptionsSnapshot<BlogOptions> optionsSnapshoot

@model Article

@{ 
    ListOptions listOptions = optionsSnapshoot.Value.ListOptions;
    ArticleOptions articleOptions = Model.DisplayOptions;

    if (listOptions.OverrideForUserArticle)
    {
        articleOptions = (ArticleOptions)listOptions;
    }
}

<article class="art text-alegreya-style">
    <div class="blog-content">

        <div class="article-meta text-roboto-style">
            <a href="@Url.Action("Article", "Articles", new { title = Model.Link })" class="article-header">
                <h2><b>@Model.Header</b></h2>
            </a>
            <ul class="article-info clearfix">
                @if (articleOptions.Username)
                {
                    <li class="article-info-user">
                        <a href="@Url.Action("Account", "Users", new { username = Model.User.Username })">
                            <div class="user-info-container">
                                <avatar user="Model.User"/>
                                <span>@Model.User.Username</span>
                            </div>
                        </a>
                    </li>

                    @*<li><a href="@Url.Action("User", "Users", new { username = Model.User.Username })">@Model.User.Username</a></li>*@
                }
                @if (articleOptions.DateAndTime)
                {
                    <li class="article-datetime"><a href="#">@Model.DateTime.ToString("g")</a></li>
                }
                
                @if (articleOptions.Likes)
                {
                    <li>
                        <img src="/img/buttons/heart.png" alt="likes" height="20px" width="20px">
                        <span name="articleLikesInfo">@Model.Likes.Count</span>
                    </li>
                }
                @if (articleOptions.Bookmarks)
                {
                    <li>
                        <img src="/img/ico/bookmark5.png" alt="bookmarks" height="20px" width="20px">
                        <span name="articleBookmarksInfo">@Model.Bookmarks.Count</span>
                    </li>
                }
                @if (articleOptions.Comments)
                {
                    <li>
                        <img src="/img/buttons/chat-2.png" alt="comments" height="18px" width="18px">
                        <span name="articleCommentsInfo">@Model.Comments.Count</span>
                    </li>
                }
                @if (articleOptions.Topic)
                {
                    <li><span>Topic: </span><a href="#">@(Model.Topic?.Name ?? "no topic")</a></li>
                }
                @if (articleOptions.Series)
                {
                    <li><span>Series: </span><a href="#">@(Model.Series?.Name ?? "no series")</a></li>
                }
                @if (articleOptions.Tags)
                {
                    <li>
                        Tags:
                        @{
                            string[] tags = Model.Tags.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                            int counter = tags.Length <= 5 ? tags.Length : 5;
                            for (int i = 0; i < counter; i++)
                            {
                                if (i != counter - 1)
                                {
                                    <a href="#">@tags[i],</a>
                                }
                                else
                                {
                                    <a href="#">@tags[i]</a>
                                }
                            }
                            if(counter == 0)
                            {
                                <span>no tags</span>
                            }
                        }
                    </li>
                }
            </ul>
        </div>

        @{
            if (Model.Images.Any())
            {
                <div class="article-image">
                    <img src="data:image/@Model.Images[0].FileExtension;base64,@(Convert.ToBase64String(Model.Images[0].File))" alt="preview image">
                </div>
            }
        }

        <div class="blog-text">
            @{
                string[] words = Model.Text.Split(new string[] { " ", Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries);
                int count = words.Length < 30 ? words.Length : 30;
                string previewText = string.Join(" ", words, 0, count);
                <p>@previewText</p>
            }
            <div class="read-action">
                <a href="@Url.Action("Article", "Articles", new { title = Model.Link })">Read more &RightArrow;</a>
            </div>
        </div>
    </div>
</article>