@using Services.Interfaces

@inject ICommon common
@inject IUserService userService 

@model ArticleData

@{
    ViewBag.Page = "Add article";

    WebsiteOptions websiteOptions = common.Options.WebsiteOptions;
    Role role = userService.FindByName(User.Identity.Name).Role;
}

<div class="uk-container uk-margin">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>
            <div class="uk-width-expand">
                <form asp-action="add" asp-controller="articles" method="post" class="uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <div class="uk-margin uk-form-controls">
                            <label asp-for="@Model.Header" class="uk-text-muted blog-label-hidden"></label>
                            <input oninput="showLabel(this)" autofocus asp-for="@Model.Header" class="uk-input uk-form-blank" placeholder="Header">
                            <span asp-validation-for="@Model.Header" class="blog-field-validation"></span>
                        </div>

                        <div class="uk-margin">
                            <label asp-for="@Model.Text" class="uk-text-muted blog-label-hidden"></label>
                            <textarea oninput="showLabel(this)" asp-for="@Model.Text" class="uk-textarea uk-form-blank" rows="12" placeholder="Text"></textarea>
                            <span asp-validation-for="@Model.Text" class="blog-field-validation"></span>
                        </div>

                        @if (role.CreateTopics)
                        {
                            <div class="uk-margin uk-form-controls">
                                <label asp-for="Topic" class="uk-text-muted blog-label-hidden"></label>
                                <input oninput="showLabel(this)" asp-for="Topic" class="uk-input uk-form-blank" type="text" placeholder="Topic">
                            </div>
                        } 

                        <div class="uk-margin uk-form-controls">
                            <label asp-for="Series" class="uk-text-muted blog-label-hidden"></label>
                            <input oninput="showLabel(this)" asp-for="Series" class="uk-input uk-form-blank" type="text" placeholder="Series">
                        </div>

                        @if (role.CreateTags)
                        {
                            <div class="uk-margin uk-form-controls">
                                <label asp-for="Tags" class="uk-text-muted blog-label-hidden"></label>
                                <input oninput="showLabel(this)" asp-for="Tags" class="uk-input uk-form-blank" type="text" placeholder="Tags">
                            </div>
                        } 
                    </fieldset>

                    @if (role.OverrideOwnArticle)
                    {
                        <button onclick="hideOptions(this)" data-target-id="displayOptions" class="uk-button uk-margin" type="button">
                            <span class="uk-text-middle">Options</span>
                            <span id="stateIcon" class="uk-text-middle" uk-icon="icon: chevron-up"></span>
                        </button>

                        <fieldset id="displayOptions" style="display: none;" class="uk-fieldset uk-form-horizontal">
                            <legend class="uk-legend">Display options</legend>

                            @if (role is ExtendedRole extended && extended.OverrideMenu)
                            {
                                <div class="uk-margin">
                                    <label class="uk-form-label">Display as</label>
                                    <div class="uk-form-controls">

                                        @foreach (var entryType in Enum.GetValues(typeof(EntryType)))
                                        {
                                            <input asp-for="@Model.EntryType" value="@((int)entryType)" checked="@((int)entryType == (int)Model.EntryType)" class="uk-radio" type="radio">
                                            <label>@Enums.GetEnumName(entryType)</label>
                                            <br>
                                        }

                                    </div>
                                </div>
                            }

                            <div class="uk-margin">
                                <label class="uk-form-label">Data</label>
                                <div class="uk-form-controls">
                                    <input checked asp-for="@Model.DisplayOptions.Username" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Username"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.DateAndTime" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.DateAndTime"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Topic" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Topic"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Tags" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Tags"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Series" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Series"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Likes" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Likes"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Bookmarks" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Bookmarks"></label>
                                    <br>
                                    <input checked asp-for="@Model.DisplayOptions.Comments" class="uk-checkbox" type="checkbox">
                                    <label asp-for="@Model.DisplayOptions.Comments"></label>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label">Visibility</label>
                                <div class="uk-form-controls">
                                    <input checked type="checkbox" asp-for="@Model.Visibility" class="uk-checkbox">
                                    <label asp-for="@Model.Visibility"></label>
                                </div>
                            </div>

                            @if (role is ExtendedRole extendedRole && extendedRole.OverrideMenu)
                            {
                                <div class="uk-margin">
                                    <label class="uk-form-label">Menu visibility</label>
                                    <div class="uk-form-controls">
                                        <input type="checkbox" asp-for="@Model.MenuVisibility" class="uk-checkbox">
                                        <label asp-for="@Model.MenuVisibility"></label>
                                    </div>
                                </div>
                            }
                        </fieldset>
                    }

                    <br><button class="uk-button uk-button-secondary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/add/showlabel.js"></script>
    <script src="~/js/add/hideoptions.js"></script>
} 