@model Article
@*@{ 
    Article article = ViewBag.Article;
    UserArticleDisplayOptions displayOptions = ViewBag.ArticleOptions;
}*@

<div class="blog-container">
    <div class="page-container text-alegreya-style">

        <input type="text" placeholder="Header" asp-for="@Model.Header" class="usual-input usual-input-text">
        <span asp-validation-for="@Model.Header" class="text-sans-style"></span>

        <input type="text" placeholder="Topic" asp-for="@Model.Topic.Name" class="usual-input usual-input-text">
        <span asp-validation-for="@Model.Topic.Name" class="text-sans-style"></span>

        <textarea placeholder="Text" asp-for="@Model.Text" class="usual-input usual-input-textarea article-text-input"></textarea>
        <span asp-validation-for="@Model.Text" class="text-sans-style"></span>

        @*<input type="text" placeholder="Tags" id="Tags" class="usual-input usual-input-text">
        <span class="text-sans-style"></span>*@

        <button type="submit" class="usual-submit-button usual-button">Add</button>

    </div>
</div>