@using Miniblog.Models.Entities
@using Miniblog.ViewModels
@model ArticleViewModel

<div class="blog-container article-page-container">
    <article class="art text-alegreya-style" id="@Model.Article.Id.ToString()">
        <div class="blog-content">
            <div class="article-meta text-sans-style">
                <a href="#" class="article-header">
                    <h2><b>@Model.Article.Header</b></h2>
                </a>
                <ul class="article-info clearfix">
                    <li href="#"><a href="#">@Model.Article.User.Username</a></li>
                    <li href="#"><a href="#">@Model.Article.DateTime.DateTime</a></li>
                </ul>
            </div>
            @{
                string[] paragraphs = Model.Article.Text.Split(new[] { Environment.NewLine }, StringSplitOptions.None);
                int imagesNumber = Model.Article.Images.Count;
                for (int i = 0; i < paragraphs.Length + imagesNumber; i++)
                {
                    Image currentImage = (from image in Model.Article.Images
                                          where image.Position == i
                                          select image).FirstOrDefault();
                    if (currentImage != null)
                    {
                        <div class="article-image">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(currentImage.File))" alt="@currentImage.Name">
                        </div>
                    }
                    else
                    {
                        <div class="blog-text">
                            <p>@paragraphs[i]</p>
                        </div>
                    }
                }
            }
            @*<div class="blog-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolores hic laudantium?</p>
                     <div class="read-action">
                        <a href="#">Read more &RightArrow; &RightAngleBracket;</a>
                    </div>
                </div>*@
            <div class="article-user-actions text-roboto-style">
                <div class="like-action">
                    <button type="button">
                        <img src="/img/buttons/heart.png" alt="like">
                    </button>
                    <span id="article-likes-count">0</span>
                </div>
                <div class="comment-action">
                    <button type="button">
                        <img src="/img/ico/chat.png" alt="bookmark by Calvin Goodman from the Noun Project">
                    </button>
                    <span id="article-comments-count">0</span>
                </div>
                <div class="bookmark-action">
                    <a href="#commentsAnch">
                        <img src="/img/ico/bookmark5.png" alt="bookmark by Calvin Goodman from the Noun Project">
                    </a>
                    <span id="article-bookmark-count">0</span>
                </div>
            </div>
        </div>
    </article>
</div>

@if (Model.CurrentUser.Role.ReadComments)
{
    <section class="article-comments text-sans-style">

        @if (Model.CurrentUser.Role.WriteComments)
        {
            <div class="article-comments">
                <div class="comment-appeal text-alegreya-style">
                    <!-- TODO: CHANGE FONT SIZE'S FOR ANCHORS!! -->
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <h3>Сomment anonymously or <a href="#">Sign In...</a></h3>
                    }
                    else
                    {
                        <h3>Comment</h3>
                    }
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <form style="display: none;" class="comment-form">
                        <label class="comment-label" asp-for="@Model.AnonymousCommentForm.Username"></label>
                        <input type="text" id="nameInput" class="comment-input comment-input-text" asp-for="@Model.AnonymousCommentForm.Username">
                        <span class="text-sans-style" asp-validation-for="@Model.AnonymousCommentForm.Username"></span>

                        <label class="comment-label" asp-for="@Model.AnonymousCommentForm.Email"></label>
                        <input class="comment-input comment-input-text" asp-for="@Model.AnonymousCommentForm.Email">
                        <span class="text-sans-style" asp-validation-for="@Model.AnonymousCommentForm.Email"></span>

                        <label class="comment-label" asp-for="@Model.AnonymousCommentForm.Text"></label>
                        <!-- DOES ASP OVERRIDE ID?? : -->
                        <textarea name="" id="commentTextarea" class="comment-input comment-input-textarea" asp-for="@Model.AnonymousCommentForm.Text"></textarea>
                        <span class="text-sans-style" asp-validation-for="@Model.AnonymousCommentForm.Text"></span>

                        <button type="button" onclick="addRootComment(this)" class="usual-submit-button comment-button">Submit</button>
                    </form>
                }
                else
                {
                    <!-- action="/addcomment" method="POST" -->
                    <div class="root-comment-answer comment-answer">

                        <div class="user-info-container">
                            @if (Model.CurrentUser.Avatar != null)
                            {
                                <img src="img/users/35FPa7SRJoI.jpg" alt="User">
                            }
                            else
                            {
                                <img src="img/users/35FPa7SRJoI.jpg" alt="User">
                            }
                        </div>
                        <!-- action="/addcomment" method="POST" -->
                        <form class="root-answer-form comment-form">
                            <input type="hidden" value="lorem_ipsum">
                            <div>
                                <textarea placeholder="Add comment..." class="comment-input comment-input-textarea" asp-for="@Model.CommentForm.Text"></textarea>
                                <span style="display: none;" class="text-sans-style" asp-validation-for="@Model.CommentForm.Text"></span>
                            </div>

                            <button type="button" onclick="addRootComment(this)" class="usual-submit-button comment-button">Add comment</button>

                            <!-- <button type="button" class="usual-submit-button comment-button">
                              <img src="img/buttons/send.png" alt="send by Kidiladon from the Noun Project">
                            </button> -->
                        </form>
                    </div>
                }
            </div>
        }

        @{
            ViewData["Depth"] = 7;
            ViewData["CanWrite"] = Model.CurrentUser.Role.WriteComments;
            ViewData["Comments"] = Model.Article.Comments;
        }

        @await Html.PartialAsync("_CommentsPartial", ViewData)

    </section>

    @section CommentTemplates {
        <!-- * HTML Templates -->

        @if (Model.CurrentUser.Role.WriteComments)
        {
            <!-- ? HTML comment-answer FORM -->
            <!-- TODO: RAZOR: switch IMG SOURCE in TEMPLATE -->
            <template id="template-comment-answer">
                <div class="template-comment-answer comment-answer">

                    <div class="user-info-container">
                        @if (Model.CurrentUser.Avatar != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.CurrentUser.Avatar))" alt="@Model.CurrentUser.Username">
                        }
                        else
                        {
                            <img src="@Url.Content("~/img/social_line/anonymous_user.png")" alt="user">
                        }
                    </div>
                    <!-- action="/addcomment" method="POST" -->
                    <form class="answer-form comment-form">

                        <input type="hidden" value="lorem_ipsum">
                        <div>
                            <textarea asp-for="@Model.CommentForm.Text" placeholder="Add comment..." class="comment-input comment-input-textarea"></textarea>
                            <span asp-validation-for="@Model.CommentForm.Text" class="text-sans-style">Required</span>
                        </div>

                        <button type="button" onclick="addComment(this)" class="usual-submit-button comment-button">
                            <img src="img/buttons/send.png" alt="send by Kidiladon from the Noun Project">
                        </button>
                    </form>

                </div>
            </template>
        }

        <!-- ? HTML blog-comment template -->
        <!-- TODO: RAZOR: switch IMG SOURCE in TEMPLATE -->
        <template id="template-blog-comment">
            <div class="template-blog-comment blog-comment"
                data-comment-id=""
                data-parent-id="">

                <div class="user-info-container">
                    <!-- TODO: PUT user or anonymous user img -->
                    <img src="img/users/35FPa7SRJoI.jpg" alt="User">
                </div>

                <div class="text-comment-container clearfix">

                    <div class="blog-comment-meta">
                        <a class="comment-username" href="#">

                        </a>
                        <span class="comment-time-info"></span>
                    </div>

                    <div class="comment-container">

                    </div>

                    <div class="comment-actions-container">
                        <div class="hearts">
                            <button type="button" class="heart-not-clicked" onclick="heartClick(this)">
                                <img src="/img/buttons/heart.png" alt="like">
                            </button>

                            <button type="button" onclick="heartClick(this)" class="heart-clicked">
                                <img src="/img/buttons/heart red.png" alt="like">
                            </button>

                            <span class="hearts-counter text-sans-style comment-hearts-count">0</span>
                        </div>

                        @if (Model.CurrentUser.Role.WriteComments)
                        {
                            <div class="comment-reply">
                                <button type="button" onclick="replyComment(this)" class="reply-button">
                                    <img src="/img/buttons/next.png" alt="reply">
                                </button>
                            </div>
                        }
                    </div>

                    <!-- comment answer -->

                    <div class="users-comment-answer-collection">

                    </div>
                </div>


            </div>


        </template>
    }

    @section ArticleActions {
        <script src="~/js/comment_actions/likeActions.js"></script>
        <script src="~/js/comment_actions/replyComment.js"></script>
        <script src="~/js/comment_actions/addComment.js"></script>
        <script src="~/js/comment_actions/addRootComment.js"></script>
    }
}

